<div class="container">
    <p><h2>About T-Rex Analytics</br>
    <small class="text-muted">Regress, Then Eat!</small></h2></p>
    
    <p>
        Formed by long time friends in late 2015 to give us a shot at the good life. We strive to bring you relevant analysis
        of a sort that is not commonly available. We know it is not avaiable because we wanted this information for our own selves
        and discovered that it either did not exist or was so expensive that to even find out about it would put us in the poor house.
    </p>
    
    <p>
        With that knowledge in hand, we set out to build the market analysis platform we wanted, but could not find.
    </p>
</div>