<div class="container">
    <p><h2>Welcome to the Beta!</h2></p>
    
    <p>T-Rex Analytics is currently in a free beta period. Please take a look and see if we can help you see
    the market in a different way than you are used to.</p>
    
    <p>We are constantly working to bring new features online and fix any issues you may find. If you come across something that
     looks wonky or something you think we can improve, drop us a line and we will get to work.</p>
    
</div>