<div class="container">
    <p><h2>How T-Rex turns you into Jurassic Beast</h2></p>
    
    <ul>
        <li>Nobel Prize Winning Security Modeling</li>
        <li>Market Wide Modeling based on the work of these Nobel Laureates</li>
        <li>Comprehensive Market Data</li>
        <li>Track Portofolio changes based on our modeling</li>
        <li>Alerts based on your tracked instruments and market conditions</li>
        <li>Knowledge Base containing summaries of reaserach which lead Nobel Prizes</li>
    </ul>
</div>