<div class="jumbotron jumbotron-fluid bg-primary bg-faded">
    <div class="container">
        <div class="col-md-12">
            <h4>No Market News</h4></br>
            <h3>No Analyst Consensus</h3></br>
            <h2>Just Nobel Prize Winning Financial Models</h2></br>
            <p>And a choice few other models for good measure ;)</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-4">
        <p><strong>Because face it, if anyone has a leg up in the market it is not you!</strong></p>
        <p>Let the Nobel Laureates debate security modeling, let us share the fruits of their labor with you.</p>
    </div><div class="col-md-4">
        <p><strong>Because Excel is a blessing and a curse!</strong></p>
        <p>It is great for some things, but automating statistical analysis is not one of them.</p>
    </div>
    <div class="col-md-4">
        <p><strong>Because noboy likes downloading CSVs from Yahoo Finance!</strong></p>
        <p>Our integrated data feeds mean you have all the data your model requires in one place.</p>
    </div>
</div>