<div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item"><a class="nav-link" href="#start" data-toggle="tab">Getting Started</a></li>
        <li class="nav-item"><a class="nav-link" href="#regression" data-toggle="tab">Regression Analysis</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Captial Asset Pricing Model</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Strategy</a></li>
    </ul>
</div>
<div class="tab-content" id="tabs">
    <div class="tab-pane" id="start">This is the start!</div>
    <div class="tab-pane" id="regression">This is the regression</div>
</div>
<div class="col-md-8">
    <p><h2>Read About stuff and things</h2></p>    
</div>
    
