<p><h2 class="text-xs-center">Learning Center</h2></p>  
<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
        <li class="nav-item"><a class="nav-link" href="#start" data-toggle="tab">Getting Started</a></li>
        <li class="nav-item"><a class="nav-link" href="#regression" data-toggle="tab">Regression Analysis</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Captial Asset Pricing Model</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Strategy</a></li>
    </ul>
</div>
<div class="col-md-9">
    <div class="tab-content" id="tabs">
        <div class="tab-pane" id="start" role="tabpanel">
            <p>Welcome to T-Rex Analytics. We aim to provide you with revelant market analysis that is easy to use and helpful in a different way.</p>
            
            <p>Different in what way? In a way that tells you the effectivness of other analysis methods. There are plenty of sites out there looking you give you leg up on the market.
            At T-Rex we know that it is unlikely that you will ever get a leg up on the institutional types - it is their job to make money off of you and they are very good at it.
            </p>
            
            <p>What we can do is show when when their "edge" is actually a mirage. Traders are very focused on tactics, go to any trading site and you will see desctiptions of things like: "Holloween Effect", "Covered Call Spreads", "Straddles vs Strangles" and all kinds of other absurdley named strategies.</p>
            
            <p>What you very rarely see people talk about is how most of the market is just made up. That is right, market prices are fake and reflect only what the last person paid for that stock. How do you know if that person knew what they were doing? How do you know if that is a fair prices? Chances are, you dont. But people have dedicated their lives to these sorts of questions, and some of them have even won Nobel prizes for their work.</p>
            
            <p>At T-Rex Analytics, we bring you these nobel prize winning models, and tell you what they say about market prices. We do that through Regression Analysis.</p>
        </div>
        <div class="tab-pane" id="regression" role="tabpanel">This is the regression</div>
    </div>
</div>
    
