<div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item"><a class="nav-link" href="#">Getting Started</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Regression Analysis</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Captial Asset Pricing Model</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Strategy</a></li>
    </ul>
</div>
<div class="col-md-8">
    <p><h2>Read About stuff and things</h2></p>    
</div>
    
