<ul class="nav nav-pills nav-stacked" role="tablist">
    <li class="nav-item" ><%= link_to "Getting Started", learn_path, class: "nav-link #{ 'active' if current_page?(learn_path)} " %></li>
    <li class="nav-item" ><%= link_to "Regression Analysis", learn_regression_path, class: "nav-link #{ 'active' if current_page?(learn_regression_path)} " %></li>
    <li class="nav-item" ><%= link_to "Capital Asset Pricing Model", learn_capm_path, class: "nav-link #{ 'active' if current_page?(learn_capm_path)} " %></li>
    <li class="nav-item" ><%= link_to "Strategy", learn_strategy_path, class: "nav-link #{ 'active' if current_page?(learn_strategy_path)} " %></li>
</ul>