</br>

<div class="col-md-3">
    <%= render "learn_menu" %>
</div>

<div class="col-md-9">
    
    
    <blockquote class="blockquote">
        <p>"The Capital Asset Pricing Model is Finance"</p>
        <footer class="blockquote-footer">Grad School Professor</footer>
    </blockquote>
    
    <p>
        CAPM is in many ways the foundation of the modern stock market. As in all of academia, the CAPM is the amagamation of several people's work. But the model is largely ascribed to William Sharpe in 1964. Sharpe went on to be awarded the 1990 Nobel Prize in Economics for his contribution.
    </p>
    
    <p>
        In the regession section, we mentioned that the hard part of regression analysis is the model. To put that difficulty in perspective, consider the model below while keeping in mind that this is <em>Nobel Prize winning work</em>.
         The only thing simplier than a line is a single point. But the leap from point to line was revolutionary.
    </p>
    
    <p>
        The CAPM is a linear model and generally states that the price of stock depends on the price of the market as a whole. as an equation, the CAPM can be stated as follows:
    </p>
    
    <p><var>y</var> = <var>a</var> + <var>bx</var> + <var>e</var></p>
    
    <p>Where:</p>
    
    <p>
        <var>y</var> = Price of stock in question</br>
        <var>a</var> = Alpha, or the "advantages" of the firm in question</br>
        <var>b</var> = Beta, or sensitivity to market conditions</br>
        <var>x</var> = Price of a market index</br>
        <var>e</var> = Error Term
    </p>
    
    <p>
        You will notice that this equation looks very similar to the equation discussed in the regression section. We broke down the general linear equation in that chapter, but we will dive in more fully to the context of the stock market here.
    </p>
    
    <p>
        The price of the stock in question is pretty self explainitory. Price of a market index is also pretty straight forward, though choosing the wrong index will lead you to the wrong results. As a rule of thumb, pick the S&P 500 for US equities. \
        If you know something special about a stock, say it is a tech company, you could use another index such as NASDAQ that might give you a little better of a fit but you cannot go wrong with the S&P 500 since it is such a broad measure.
    </p>
    
    <p>
         Alpha is a little less obvious. One way to think about alpha is to imagine what the stock would be worth if the S&P 500 was zero. Said another way, alpha represents the value of a firms individual characteristics. If you compare two large bank stocks alpha could reprsent the skills of one bank's board of directors compared to the others.
          Or where one bank has more of a physical presence than the other. Or how much debt one bank has compared to the other. Alpha tries to caputre all the things that make a firm unique independent of market highs or lows.
    </p>
    
    <p>
        Beta tries to capute the influence of market conditions on a stock's price. Masaratis are in more demand during market highs, so a Masarati dealship might have a high beta. People always need salt, so a salt manufacture might have a beta close to zero. Cheap cloths are in highest demand when the market is low, so cheap cloths store might have a negative beta.
        Beta seeks to show you how a stock might perform given certain market conditions.
    </p>
    
    <p>
        Lastly there is <var>e</var>. Poor lonely <var>e</var> does not get a lot of love in most finance circles. Go to any stock screener or trading platorm on the web and you will likely find values for alphas and betas for any stock. You might even get an R squared value, which shows how well a model fits the data at hand. But rarely, if ever, will you see <var>e</var>.
         And that is shame because there is arguably more value in <var>e</var> than the rest of the values in the model. That is because <var>e</var> is the difference between what the model says the price should be and what the price actually is. <var>E</var> can tell you when the market messed up!
    </p>
    
    <p>
        Read the Strategy section to learn more about how to apply <var>e</var> to your trading strategy.
    </p>
    
</div>