</br>

<div class="col-md-3">
    <%= render "learn_menu" %>
</div>

<div class="col-md-9">
    <p>Broadly Speaking, regression analysis is a statsitical technique that turns data into equations. To do this you need data and a model. For market anaylsis, the data is the easy part as we are usually looking at changes in security price over time.
    The model is much more difficult since it requires insight into the underlying influences of a stock's price.</P>
    
    <p>While there are those intrepid souls who may want to bet their savings on their own model, we prefer to use models from people who actually know what they are talking about. For illustration purposes we are goings to use the equation of a simple line:</p>
    
    <p><var>y</var> = <var>a</var> + <var>bx</var> + <var>e</var></p>
    
    <p>Where:</p>
    
    <p>
        <var>y</var> = Dependent Variable</br>
        <var>a</var> = Line Intercept</br>
        <var>b</var> = Slope of the Line</br>
        <var>x</var> = Independent Variable</br>
        <var>e</var> = Error Term
    </p>
    
    <p>
        Let's break this down. The dependent variable is usually what we are interested in. In stocks, the depenent variable would be stock price. The dependent variable gets it name as the value of <var>y</var> varies based on changes in one or more independent variables.
        How much the indepenent variable controls changes in the dependent is captured in the slope term <var>b</var>. The intercept, <var>a</var> can be thought of as a sort of head start. Think of the case when the independent value is zero. In that case, the value <var>y</var> is equal to the intercept. 
        Said another way, the intercept captures the change in the dependent variable that is not due to changes in the independent variable. Lastly there is the error term, <var>e</var>. <var>E</var> captures the difference between what the model says <var>y</var> should be and what the value actually is. 
        In some ways, it measures the fit of the data to the model at any given point.
    </p>
    
    <p>
        That is the basics of regression analysis in general. To learn more about regression analysis in the context of financial markets, read about any of the models we have implemented.
    </p>
</div>